//- index.pug
doctype html
html
  head
    title Piyush Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
        ul  
            div#logo
              img(src="/static/img/logo.png")
              | PDA
            li  #[a(href="/") Home]    
            li  #[a(href="/") About]
            li  #[a(href="/") Services]
            li  #[a(href="/") Contact]

    section#introsection
        div Welcome to Piyush Dance Academy
        div.small Live! Learn! Dance!
        div Eat Dance Sleep Repeat

    

    section#missionsection
        h2 OUR MISSION 
        div.card 
          h3 Dance Perfection 
          div.card-box 
            div.card-img
              img(src="/static/img/2.png") 
            div.card-content 
              p This Academy to become a perfect dancer.
        div.card
          h3 Feel the Dance
          div.card-box
            div.card-img 
              img(src="/static/img/1.png") 
            div.card-content 
              p This Academy to become a perfect dancer.
        div.card
          h3 Dance Teaching  
          div.card-box
            div.card-img 
              img(src="/static/img/3.png") 
            div.card-content 
              p This Academy to become a perfect dancer.
            

    section#sponsorsection
         h2 our Sponsors
         div#sponsor 
          img(src="/static/img/logo1.png",class="spimage")
          img(src="/static/img/logo2.png",class="spimage")
          img(src="/static/img/logo3.png",class="spimage")
          img(src="/static/img/logo4.png",class="spimage")


    footer#footer
        | @copyright 2020 piyush_dance_academy.com  | All Right Reserved


    script  
      include ../static/index.js      
                            
